doctype html
html(ng-app="MemberModule")
  head
    title= title

    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type="text/javascript", src="/javascripts/vendor/angular/angular.min.js")
    script(type="text/javascript", src='/javascripts/vendor/angular/route.js')
    script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/MemberModule.js')
    
    #heady

    block head

  body
    block content
